@import url('https://fonts.cdnfonts.com/css/arcade-classic');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Press+Start+2P&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Press+Start+2P&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

.nav-font--style {
  font-family: "Jersey 15", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(11, 21, 77);
  font-size: 1.5rem;
  margin-left: 20px; 
  
}
/*header design*/
header{
    display: flex;
}

/*Img design*/
.logo-img {
    max-width: 10%;
}
/*Disabled button*/
.disabled-btn {
  opacity: 0.5; 
  pointer-events: none;
}